.container {
    display: flex;
    padding: 50px;
  }
  
  .leftMenu {
    flex: 1;
  }
  
  .content {
    flex: 3;
  }
  
  #search {
    padding: 10px;
    width: 300px;
    border: 2px solid rgb(81, 79, 79);
    border-radius: 10px;
  }
  h1 {
    color: gray;
    font-size: 2.5rem;
    font-weight: 400;
  }
  h2 {
    color: gray;
    font-size: 2.2rem;
    font-weight: 200;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  
  .product {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  img {
    width: 130px;
    height: 170px;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .price {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .cats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    
  }